@keyframes rotate360 {
  to {
    transform: rotate(360deg)
  }
}

.Loading
  height: 100px
  line-height: 100px
  width: auto
  text-align: center

.Loading__icon
  margin-top: 30px
  animation: 2s rotate360 infinite linear
  font-size: 25px
  color: grey