.Modal
  display: block
  background-color: RGBA(0,0,0,.2)

.Modal__form
  padding: 25px
  width: 350px
  height: 350px
  
  display: block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto
  
  background-color: #fff
  border-radius: 10px
  text-align: center

.Modal_ButtonsArea
  margin-top: 10px

.Modal_Buttons
  float: right
  margin-left: 10px
